<h2>Problema!!!</h2>
<br>
<div class="jumbotron">
  <h1>Error</h1>
  <p><%= error.descripcion %></p>
  <pre><%= error.rawError %></pre>
  <p><a class="btn btn-danger btn-lg" href="<%= error.url %>" role="button">Retornar</a></p>
</div>
