<h1>Bienvenidos</h1>
<br>
<div class="jumbotron">
  <h1>Pasteleria Patito</h1>
  <p>Pide sus Pasteles como te gustan!!!</p>
  <p><a class="btn btn-primary btn-lg" href="/CrearUsuario" role="button">Registrarse</a></p>
</div>
